.linker
{
    display:grid;
    grid-template-columns: 1fr 4fr 2fr 1fr;
    column-gap: 2vh;
    text-decoration: none;
    color: var(--grey);
    height:5vh;
    text-align: center;
    font-size: 2vh;
}

.linker:hover
{
    color:white;
    background: var(--black);
    border-bottom: 2px solid var(--blue);
}

.song_no,.song_name,.artists,.song_duration
{
    display:flex;
    align-items: center;
    justify-content:center ;
}

